<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.formdata.dao.FormDataMapper" >


    <select id="selectMyFormDataAndAuthToMeData" resultType="java.util.Map" parameterType="com.cloud.aiassistant.formdata.pojo.FormDataQueryDTO">
        select
            *
        from ${tableName}
        where
            ((create_user = #{userId})
             or
             (
                 exists(select 1 from pub_auth_form_data b where b.from_table=1 and ${tableName}.create_user=b.from_user and b.to_user=#{userId})
             ))
            <if test=" dataIdList != null and dataIdList.size()>0 ">
                and id in
                    <foreach collection="dataIdList" index="index" item="item" open="(" separator="," close=")">
                      #{item}
                    </foreach>
            </if>
        order by id DESC
    </select>

    <select id="selectByTableColumnValue" resultType="java.util.Map">
        select
            *
        from ${tableName}
        where ${columnName} = #{columnValue}
    </select>

    <insert id="insertFormOneRowData">
        insert into ${tableName} (
            <foreach collection="columnValueList" index="index" item="item" separator=",">
                ${item.columnName}
            </foreach>
        )
        values (
            <foreach collection="columnValueList" index="index" item="item" separator=",">
                #{item.columnValue}
            </foreach>
        )
    </insert>

</mapper>