<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.formdesign.dao.TableColumnConfigMapper" >

  <sql id="Base_Column_List" >
      id, table_id, col_seq, chinese_name, english_name, col_type, col_length, drop_value,
      fk_value, default_value, display_column, uniqued, empty, create_user, create_time,
      tenant_id
  </sql>

  <insert id="insert" parameterType="com.cloud.aiassistant.pojo.formdesign.TableColumnConfig" >
    insert into pub_table_column (table_id, col_seq, chinese_name, english_name, col_type,
                                  col_length, drop_value, fk_value, default_value, display_column, uniqued,
                                  empty, create_user, create_time, tenant_id)
    values (#{tableId},
            #{colSeq},
            #{chineseName},
            #{englishName},
            #{colType},
            #{colLength},
            #{dropValue},
            #{fkValue},
            #{defaultValue},
            #{displayColumn},
            #{uniqued},
            #{empty},
            #{createUser},
            #{createTime},
            #{tenantId})
  </insert>

  <select id="selectByPrimaryKey" resultType="com.cloud.aiassistant.pojo.formdesign.TableColumnConfig" parameterType="java.lang.Long" >
    select
        <include refid="Base_Column_List" />
    from pub_table_column
    where id = #{id}
  </select>

    <select id="selectByFormId" resultType="com.cloud.aiassistant.pojo.formdesign.TableColumnConfig" parameterType="java.lang.Long" >
        select
          <include refid="Base_Column_List" />
        from pub_table_column
        where table_id = #{formid}
        order by col_seq
    </select>


</mapper>