<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.formdesign.dao.TableQueryConfigMapper" >

  <sql id="Base_Column_List" >
        id, table_id, query_seq, table_column, query_type, create_user, create_time, tenant_id
  </sql>

  <select id="selectByPrimaryKey" resultType="com.cloud.aiassistant.pojo.formdesign.TableQueryConfig" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pub_table_query
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_table_query
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cloud.aiassistant.pojo.formdesign.TableQueryConfig" >
    insert into pub_table_query (table_id, query_seq, table_column, query_type,
                                 create_user,  create_time, tenant_id)
    values (#{tableId},
            #{querySeq},
            #{tableColumn},
            #{queryType},
            #{createUser},
            #{createTime},
            #{tenantId})
  </insert>

    <select id="selectByFormId" resultType="com.cloud.aiassistant.pojo.formdesign.TableQueryConfig" parameterType="java.lang.Long" >
        select
          <include refid="Base_Column_List" />
        from pub_table_query
        where table_id = #{formid}
        order by query_seq
    </select>

</mapper>