<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.formdesign.dao.TableConfigMapper" >

  <sql id="Base_Column_List" >
    id, chinese_name, english_name, create_user, create_time, tenant_id
  </sql>

  <insert id="insert" parameterType="com.cloud.aiassistant.pojo.formdesign.TableConfig" >
    insert into pub_table_conf (chinese_name, english_name,
                                create_user, create_time, tenant_id)
    values (#{chineseName},
            #{englishName},
            #{createUser},
            #{createTime},
            #{tenantId}
            )
  </insert>

  <select id="selectByPrimaryKey" resultType="com.cloud.aiassistant.pojo.formdesign.TableConfig" parameterType="java.lang.Long" >
    select
      <include refid="Base_Column_List" />
    from pub_table_conf
    where id = #{id}
  </select>

    <select id="selectByUserId" resultType="com.cloud.aiassistant.pojo.formdesign.TableConfig" parameterType="java.lang.Long" >
        select
          <include refid="Base_Column_List" />
        from pub_table_conf
        where create_user = #{userId}
    </select>

    <select id="selectAuthToMeTableConfig" resultType="com.cloud.aiassistant.pojo.formdesign.TableConfig" parameterType="java.lang.Long" >
        select
          <include refid="Base_Column_List" />
        from pub_table_conf
        where exists(select 1 from pub_auth_form b
                       where pub_table_conf.id = b.table_id and b.user_id = #{autoToUserId})
    </select>


</mapper>