<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.formdesign.dao.TableDisplayConfigMapper" >

  <sql id="Base_Column_List" >
      id, table_id, display_seq, table_column, create_user, create_time, tenant_id
  </sql>

  <insert id="insert" parameterType="com.cloud.aiassistant.pojo.formdesign.TableDisplayConfig" >
    insert into pub_table_display (table_id, display_seq, table_column, create_user, create_time, tenant_id)
    values (#{tableId},
            #{displaySeq},
            #{tableColumn},
            #{createUser},
            #{createTime},
            #{tenantId})
  </insert>

  <select id="selectByPrimaryKey" resultType="com.cloud.aiassistant.pojo.formdesign.TableDisplayConfig" parameterType="java.lang.Long" >
    select
        <include refid="Base_Column_List" />
    from pub_table_display
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pub_table_display
    where id = #{id}
  </delete>

    <select id="selectByFormId" resultType="com.cloud.aiassistant.pojo.formdesign.TableDisplayConfig" parameterType="java.lang.Long" >
        select
          <include refid="Base_Column_List" />
        from pub_table_display
        where table_id = #{formid}
        order by display_seq
    </select>

</mapper>