<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.user.dao.TenantConfigMapper" >

  <sql id="Base_Column_List" >
    id, tenant_number, tenant_name, create_time, create_user
  </sql>

  <select id="selectByPrimaryKey" resultType="com.cloud.aiassistant.pojo.tenant.TenantConfig" parameterType="java.lang.Long" >
    select 
        <include refid="Base_Column_List" />
    from pub_tenant_config
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByTenantNum" resultType="com.cloud.aiassistant.pojo.tenant.TenantConfig" parameterType="java.lang.String" >
    select
        <include refid="Base_Column_List" />
    from pub_tenant_config
    where tenant_number = #{tenantNum,jdbcType=VARCHAR}
  </select>

</mapper>