<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.user.dao.UserMapper" >

  <sql id="Base_Column_List" >
    id, user_name, password, create_time, create_user, tenant_id, wx_openid
  </sql>


  <select id="selectByPrimaryKey" resultType="com.cloud.aiassistant.pojo.user.User" parameterType="java.lang.Long" >
    select
        <include refid="Base_Column_List" />
    from pub_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserNamePassword" resultType="com.cloud.aiassistant.pojo.user.User">
    select
        <include refid="Base_Column_List" />
    from pub_user
    where user_name = #{userName,jdbcType=VARCHAR}
      and password = #{password,jdbcType=VARCHAR}
    limit 1
  </select>

  <update id="bindWxOpenId" parameterType="com.cloud.aiassistant.user.pojo.WxBindUserDTO">
    update pub_user
      set wx_openid = #{wxOpenId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByOpenid" resultType="com.cloud.aiassistant.pojo.user.User">
    select
        <include refid="Base_Column_List" />
    from pub_user
    where wx_openid = #{openid,jdbcType=VARCHAR}
    limit 1
  </select>

</mapper>