<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.aiassistant.business.crm.dao.CrmBusinessMapper" >

    <update id="updateCrmCustomerUpdateTime">
        update crm_customer a
          set a.update_time = (select max(cb.create_time) from crm_project bb , crm_project_visit cb where cb.project_name = bb.id and bb.compange_name = a.id)
        where exists(select 1 from crm_project b , crm_project_visit c where c.project_name = b.id and b.compange_name = a.id and a.update_time &lt; c.create_time)
    </update>

    <select id="selectProjectIdListByCustomerId" resultType="java.lang.Long">
        select
            id
        from ${crmProjectTableName}
        where ${forergnKey} = #{customerId}
    </select>

    <select id="selectContactIdListByCustomerId" resultType="java.lang.Long">
        select
            id
        from ${crmContactTableName}
        where ${contactCustomerFkName} = #{customerId}
    </select>

    <update id="transVisitorToUser">
        update crm_project_visit a set a.create_user = #{toUserId}
        where exists(select 1 from crm_project b where a.project_name=b.id and b.compange_name=#{customerId})
    </update>

    <update id="transConnectorToUser">
        update crm_project_user set create_user=#{toUserId}  where compange_name =#{customerId}
    </update>

    <update id="transProjectToUser">
        update crm_project set create_user=#{toUserId}  where compange_name =#{customerId}
    </update>

    <update id="transCustomerToUser">
        update crm_customer set create_user=#{toUserId}  where id =#{customerId}
    </update>


</mapper>